# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Contentlayer
.contentlayer/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files (optional — remove these lines if you want to commit them)
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea
*.swp
